@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

body {
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
    background-color: #FFF5D1; 
    color: #333;
}

.exercise-container {   
    width: 100%;           
}

.status-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.left-section {
    display: flex;
    align-items: center;
    gap: 20px; 
    background-color: transparent;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
}

.score, .timer {
    padding: 10px;
    font-size: 25px;
    background-color: #dd366b;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: 'Chewy', cursive;
}

.mute-btn {
    padding: 5px 10px;
    font-size: 25px;
    font-family: 'Chewy', cursive;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.exercise-click{
    padding: 10px;
    font-size: 15px;
    text-align:center;
    font-weight: -10px;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    position: absolute;
    margin-top: 70px;
    margin-left: 10px;
}

.exercise-btn {
    background-color: #E98AA1; 
    border: none;
    color: whitesmoke;
    padding: 10px;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    border-radius: 20px;
    font-family: 'Gloria Hallelujah', cursive; 
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s; 
}

.exercise-btn:hover {
    background-color: #E89E9E;
    transform: scale(1.05);
}

.prompt-container {
    margin: 20px;
}

.whats-your-answer {
    font-size: 24px;
    letter-spacing: 1px;
    font-family: 'Chewy', cursive; 
    color: #76AADB; 
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 200px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Gloria Hallelujah', cursive;
    border-radius: 10px;
    border: 2px solid #76AADB;
    text-align: center;
    outline: none;
}

input[type="text"]:focus {
    border-color: #E98AA1;
}

.check-answer, .back-link {
    background-color: #AFCDE7;
    border: none;
    padding: 10px 20px;
    font-size: 24px;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    margin-right: 10px;
    font-family: 'Chewy', cursor;
    color: whitesmoke;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
}

.check-answer:hover, .back-link:hover {
    background-color: #92B3D8;
    transform: scale(1.05);
}

.solution-msg {
    font-size: 20px;
    font-weight: bold; 
    text-align: center;
    margin-left: 30px;
    position:flex;
}

