body {
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
  background-color: #f4e3a7;
  color: #333;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.page-title {
  font-size: 50px;
  letter-spacing: 4px;
  font-family: 'Chewy', cursive; 
  color: #E98AA1; 
  margin-bottom: 5px;
  text-shadow: 2px 2px 5px rgba(233, 138, 161, 0.5);
}

.section-title {
  font-size: 34px;
  font-family: 'Chewy', cursive; 
  color: #76AADB;
  margin-top: 5px;
}

.filter-label {
  font-size: 24px;
  font-family: 'Chewy', cursive; 
  color: #dd366b;
  margin-bottom: 10px;
  padding: 10px;
}

.highscore-label {
  font-size: 24px;
  font-family: 'Chewy', cursive; 
  color: #9a36dd;
}

.filter-select {
  font-size: 15px;
  font-family: 'Chewy', cursive; 
  padding: 10px 20px;
  margin-top: 10px;
  color: white;
  background-color: #dd366b;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.table {
  width: 60%;
  border-collapse: separate;
  border-spacing: 10px;
  margin: 20px auto;
}

th {
  background-color: #F4C2C2;
  color: white;
  padding: 10px;
  border-radius: 8px;
}

td {
  color: black;
  padding: 8px;
  font-size: 15px;
  border-radius: 5px;
}

.trophy-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.trophy {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}

.trophy img {
  width: 80px;
  height: auto;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.trophy.unlocked img {
  filter: grayscale(0%);
}

.trophy-name {
  font-size: 15px;
  margin-top: 5px;
  font-family: 'Chewy', cursive;
  color: #333;
}

.trophy.master-trophy {
  margin-left: 50%;
}

.go-back-btn {
  background-color: #F4C2C2; 
  font-family: 'Chewy', cursive;
  border: none;
  padding: 10px 20px;
  font-size: 24px;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.2s;
  margin: 30px auto;
  display: block;
}

.go-back-btn:hover {
  background-color: #E89E9E; 
  transform: scale(1.05);
}
