body {
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
  background-color: #f4e3a7;
  color: #333;
  letter-spacing: 1px;
}

.page-title {
  font-size: 50px;
  letter-spacing: 4px;
  font-family: 'Chewy', cursive; 
  color: #E98AA1; 
  margin-bottom: 5px;
  text-shadow: 2px 2px 5px rgba(233, 138, 161, 0.5);
}

.section-title {
  font-size: 34px;
  font-family: 'Chewy', cursive; 
  color: #76AADB;
  margin-top: 5px;
}

.filter-label{
  font-size: 24px;
  letter-spacing: 1px;
  font-family: 'Chewy', cursive; 
  color: #dd366b;
  display: absolute;
  margin-bottom: 10px;
  padding: 10px;
}

.filter-select{
  font-size: 15px;
  font-family: 'Chewy', cursive; 
  padding: 10px 20px;
  margin-top: 10px;
  color: white;
  background-color: #dd366b;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.go-back-btn {
  background-color: #F4C2C2; /* Light Pink */
  font-family: 'Chewy', cursive;
  border: none;
  padding: 10px 20px;
  margin: 20px;
  font-size: 24px;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.2s;
}

.go-back-btn:hover {
  background-color: #E89E9E; /* Darker Pink */
  transform: scale(1.05);
}
