

.popup-modal div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.popup-overlay {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 320px; 
  text-align: center;
  position: relative;
}

.login-header, .signup-header {
  font-size: 34px;
    font-family: 'Chewy', cursive; 
    color: #76AADB;
    margin-top: 5px;
}

.popup-modal label {
  position: relative;
  display: block;
  text-align: center;
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: bold;
  width: 100%;
}

.popup-modal input {
  width: 80%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 2px solid #76AADB;
  font-size: 18px;
  text-align: center;
  display: block;
  box-sizing: border-box;
}


.popup-modal input[type="text"],
.popup-modal input[type="password"] {
  text-align: center;
  width: 90% !important;
}

.popup-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: #F4C2C2;
  font-size: 20px;
  cursor: pointer;
}

.popup-close-button:hover{
  background-color: #E89E9E;
}
  