/* Modal Layout */
.popup-overlay {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 320px; 
  text-align: center;
  position: relative;
}

/* Ensuring all Headers are Blue */
h2.login-header, 
h2.signup-header, 
h2.settings-header,
h2.session-over-header{
  font-size: 34px;
  font-family: 'Chewy', cursive; 
  color: #76AADB; /* Light Blue */
  margin-top: 5px;
}

h2.error{
  font-size: 34px;
  font-family: 'Chewy', cursive; 
  color: #d93025; 
  margin-top: 5px;
}
/* Input Fields */
.popup-modal input {
  width: 80%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 2px solid #76AADB; /* Light Blue Border */
  font-size: 18px;
  text-align: center;
  box-sizing: border-box;
}

.popup-modal input[type="text"],
.popup-modal input[type="password"] {
  width: 90% !important;
  text-align: center;
}

/* Light Pink Buttons */
button.button,  
button.error-button, 
button.start-session-btn,
.go-back-btn, 
.signup-button, 
.restart-btn
{
  background-color: #F4C2C2; /* Light Pink */
  font-family: 'Chewy', cursive;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  font-size: 24px;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

button.popup-close-button{
  background-color: #F4C2C2;
  border: none;
  font-size: 20px;
  padding: 10px 10px;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Hover Effect */
button.button:hover, 
button.popup-close-button:hover, 
button.error-button:hover, 
button.start-session-btn:hover,
.go-back-btn:hover, 
.signup-button:hover,
.restart-btn:hover {
  background-color: #E89E9E; 
}

.popup-close-button {
  position: absolute;
  text-align: center;
  top: 5px;
  right: 5px;
  font-size: 20px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.error-text, 
.error-popup {
  color: #d93025; 
  font-size: 15px;
  font-weight: bold;
}

input[type="range"].custom-slider {
  -webkit-appearance: none;
  width: 80%;
  margin: 10px 0;
  background: transparent;
  outline: none;
}

/* Track styles */
input[type="range"].custom-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  background: #ffffff;
  border-radius: 5px;
}

input[type="range"].custom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #dd366b;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s;
  margin-top:-5px;
}

input[type="range"].custom-slider::-webkit-slider-thumb:hover {
  transform: scale(1.1);
}

/* Focus state */
input[type="range"].custom-slider:focus::-webkit-slider-thumb {
  outline: none;
  transform: scale(1.2);
}


input[type="range"].custom-slider::-moz-range-thumb:hover {
  transform: scale(1.1);
}


/* Difficulty and Time Text Styles */
.difficulty, .time {
  font-size: 24px;
  color: #dd366b;
  font-family: 'Chewy', cursive;
  margin-top: 10px;
}
